.footer {
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  padding: 100px 120px 60px 120px;
  background-color: var(--bg-secondary);
  gap: 100px;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-tetriary); /* the color you want */
    mask-image: url("/src/assets/images/props/footer-prop.svg");
    mask-repeat: no-repeat;
    mask-position: left bottom;
    mask-size: contain;
    -webkit-mask-image: url("/src/assets/images/props/footer-prop.svg");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: left bottom;
    -webkit-mask-size: contain;
  }

  &__top {
    z-index: 2;
    display: flex;
    gap: 50px;
    flex-flow: row wrap;
    justify-content: space-between;

    &__company {
      display: flex;
      flex-flow: column;
      gap: 25px;

      img {
        max-width: 40px;
        width: 100%;
      }

      p {
        font-size: 16px;
        line-height: 27px;
        letter-spacing: .36px;
        max-width: 255px;
        width: 100%;
        color: var(--text-secondary);
      }
    }

    &__table {
      max-width: 600px;
      gap: 20px;
      width: 100%;
      justify-content: space-between;
      display: flex;
      flex-flow: row wrap;

      &__column {
        display: flex;
        flex-flow: column;
        gap: 26px;

        &__title {
          font-size: 13px;
          line-height: 20px;
          font-weight: 400;
          letter-spacing: 1.5px;
          text-transform: uppercase;
          color: var(--text-main);
        }

        &__content {
          gap: 28px;
          display: flex;
          flex-flow: column;
          font-size: 15px;
          line-height: 20px;
          font-weight: 400;

          a {
            color: var(--text-secondary);
          }
        }
      }
    }
  }

  &__bottom {
    z-index: 2;
    display: flex;
    flex-flow: column;
    gap: 60px;

    hr {
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid var(--text-gray);
      margin: 1em 0;
      padding: 0;
    }

    &__information {
      display: flex;
      justify-content: space-between;
      flex-flow: row wrap;
      gap: 20px;
      align-items: center;

      &__build {
        font-size: 15px;
        line-height: 20px;
        font-weight: 400;
        color: var(--text-main);

        a {
          color: var(--text-tetriary);

          &:hover {
            opacity: 0.7;
          }
        }
      }

      &__socials {
        display: flex;
        gap: 24px;
      }
    }
  }
}
