.header {
  padding: 20px 120px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  &__navigation {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 480px;
    justify-content: space-between;
    width: 100%;

    &__links {
      display: flex;
      flex-flow: row nowrap;
      gap: 16px;
    }
  }
}