@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--text-main);
  transition: 0.3s ease-in-out;

  &:hover {
    color: var(--text-tetriary) !important;
  }
}

body {
  transition: color 0.3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
  transition: color 0.3s ease-in-out;
  color: var(--text-main);
}

body[data-theme="light"] {
  font-family: Inter;
  font-weight: 400;

  /* Colors */
  --bg-main: #ffffff;
  --bg-accent-main: #35b8be;
  --bg-accent-secondary: #35b8be26;
  --bg-secondary: #f5fbfc;
  --bg-tetriary: #e5f1f3;
  --bg-gray: #7e828f4d;
  --text-main: #08090a;
  --text-secondary: #546285;
  --text-tetriary: #35b8be;
  --text-gray: #7e828f4d;

  /* Button */
  --button-primary-text: #ffffff;
  --button-primary-text-disabled: #636363;
  --button-primary-bg-disabled: #9fa6a7;
  --button-primary-bg: #35b8be;
  --button-primary-bg-hover: #23cad3;
  --button-primary-bg-click: #57dee6;
  --button-primary-stroke-focus: #000;

  --button-outline-text: #222222;
  --button-outline-stroke: rgba(97, 114, 131, 0.2);
  --button-outline-stroke-focus: #000;
  --button-outline-bg-hover: #23cad34f;
  --button-outline-bg-click: #57dfe641;

  /* Input */
  --input-primary-text: #000000;
  --input-primary-bg: #fafafa;
  --input-primary-bg-hover: #fafafa;
  --input-primary-stroke: #dddddd;
  --input-primary-stroke-hover: #35b8be;
  --input-primary-stroke-focus: #000;
}

body[data-theme="dark"] {
  font-family: Inter;
  font-weight: 400;

  /* Colors */
  --bg-main: #21252b;
  --bg-accent-main: #35b8be;
  --bg-accent-secondary: #35b8be33;
  --bg-secondary: #1f2227;
  --bg-tetriary: #2a2e35;
  --bg-gray: #6c707a80;

  --text-main: #e1e3e7;
  --text-secondary: #a3abbf;
  --text-tetriary: #35b8be;
  --text-gray: #a3abbf80;

  /* Button */
  --button-primary-text: #ffffff;
  --button-primary-text-disabled: #636363;
  --button-primary-bg-disabled: #555a60;
  --button-primary-bg: #35b8be;
  --button-primary-bg-hover: #23aab0;
  --button-primary-bg-click: #1d8f93;
  --button-primary-stroke-focus: #35b8be;

  --button-outline-text: #d1d6df;
  --button-outline-stroke: rgba(163, 171, 191, 0.2);
  --button-outline-stroke-focus: #35b8be;
  --button-outline-bg-hover: #23cad34f;
  --button-outline-bg-click: #57dfe641;

  /* Input */
  --input-primary-text: #e1e3e7;
  --input-primary-bg: #24272d;
  --input-primary-bg-hover: #2f343c;
  --input-primary-stroke: #555a60;
  --input-primary-stroke-hover: #35b8be;
  --input-primary-stroke-focus: #35b8be;
}
