.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 40px;

  &__products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  &__categories {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 500px;
    width: 100%;
  }

  &>button {
    max-width: 150px;
    width: 100%;
  }
}